.link-nav {
  /* letter-spacing: 0.32px; */
  color: var(--font-color-primary, #212121);
  /* display: flex; */
  /* align-items: center; */
}
/* .link-nav:focus,
.link-nav:hover {
  color: var(--font-color-action, #2196f3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .link-nav:hover .icon-nav {
  fill: var(--font-color-action);
} */

.link {
  letter-spacing: 0.32px;
  display: flex;
  align-items: center;
}
.link--nav-color {
  color: var(--font-color-primary, #212121);
}
/* .lowercase {
  text-transform: lowercase;
} */
.link--header-style {
  text-transform: lowercase;
  color: var(--font-color-secondary, #757575);
}
.list-format__link {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff99;
}

.link:focus,
.link:hover {
  color: var(--font-color-action, #2196f3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .icon-nav {
  fill: var(--font-color-action);
}
.hover-agency::after {
  display: block;
  content: "";
  width: 53px;
  min-height: 4px;
  background-color: var(--font-color-action);
  position: absolute;
  bottom: 0;
}
.hover-portfolio::after {
  display: block;
  content: "";
  width: 58px;
  min-height: 4px;
  background-color: var(--font-color-action);
  position: absolute;
  bottom: 0;
}
.item-nav > .hover-agency {
  color: var(--font-color-action);
}
.item-nav > .hover-portfolio {
  color: var(--font-color-action);
}
