/*stary zapis - start*/
/* .header-background, */
.section-info,
.section-work,
.section-goods {
  background-color: var(--background-color-primary, #ffffff);
}
/* .header-background {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #ececec;
  position: relative;
} */
/* .header-flex {
  display: flex;
}
.nav-flex {
  display: flex;
} */
.hover-agency::after {
  display: block;
  content: "";
  width: 53px;
  min-height: 4px;
  background-color: var(--font-color-action);
  position: absolute;
  bottom: 0;
}
.item-nav > .hover-agency {
  color: var(--font-color-action);
}
.item-nav {
  margin-right: 46px;
}
/* .list-header > .item-header:not(:last-child) {
  margin-right: 50px;
}
.list-header > .item-header:not(:last-child) {
  margin-left: 315px;
} */
.nav__list > .item-header:not(:last-child) {
  margin-right: 50px;
}
.nav__list > .item-header:not(:last-child) {
  margin-left: 315px;
}
.list-format {
  font-size: 14px;
  font-style: normal;
}
.link-nav {
  letter-spacing: 0.32px;
  color: var(--font-color-primary, #212121);
  display: flex;
  align-items: center;
}
.link-nav:focus,
.link-nav:hover {
  color: var(--font-color-action, #2196f3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav:hover .icon-nav {
  fill: var(--font-color-action);
}
.lowercase {
  text-transform: lowercase;
}
.link-color {
  color: var(--font-color-secondary, #757575);
}
/*stary zapis - end*/

/*BEM nowy zapis - start*/
.header--background-color,
.section-info,
.section-work,
.section-goods {
  background-color: var(--background-color-primary, #ffffff);
}
.header--border-bottom {
  border-bottom: 1px solid #ececec;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  position: relative;
}
.flex {
  display: flex;
}

/*BEM nowy zapis - end*/
