* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: $fontPrimary, sans-serif;
  background-color: $backgroundColorPrimary;
  color: $fontColorPrimary, #212121;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
  &__header {
    font-size: 36px;
    font-weight: 700px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    text-align: center;
    padding-bottom: 50px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.button {
  color: $backgroundColorPrimary;
  background-color: $fontColorAction;
  border-color: $fontColorAction;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px #00000026;

  &:focus,
  &:active,
  &:hover {
    background-color: $fontColorAction;
    border-color: $fontColorAction;
    color: $backgroundColorPrimary;
    cursor: pointer;
    box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
      0px 2px 2px #0000001f;
    transition: background-color $transition, border-color $transition,
      color $transition, cursor $transition, box-shadow $transition;
  }
  &::first-letter {
    text-transform: uppercase;
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .card:not(:last-child) {
    margin-right: 30px;
  }
  & .button {
    background-color: $backgroundColorEmployees;
    border-color: $backgroundColorEmployees;
    color: $fontColorPrimary;
    font-family: $fontPrimary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.48px;
    border-radius: 4px;
    justify-content: center;
    border: none;
  }
}
