* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: $fontPrimary, sans-serif;
  background-color: $backgroundColorPrimary;
  color: $fontColorPrimary, #212121;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.button {
  color: $backgroundColorPrimary;
  background-color: $fontColorAction;
  border-color: $fontColorAction;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px #00000026;
}
